header {
  width: 100%;
  height: 20svh;
  padding: 2rem 0.5rem 0 5rem;
  display: flex;
}

header > nav {
  width: 80%;
  height: 100%;
}

header ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 40px;
}

header a {
  color: var(--color-letter);
  font-size: 40px;
}

header a:hover {
  color: var(--color-letter-active);
}

header li:hover {
  transform: scale(1.3);
}

@media (max-width: 460px) {
  header {
    padding: 2rem;
  }

  header ul {
    justify-content: center;
  }

  header a {
    font-size: 30px;
  }
}

form {
  display: flex;

  max-width: 210px;
  max-height: 40px;
}

form > input {
  width: 100%;
  height: 100%;
  font-size: 30px;
  color: black;
  padding: 4px;
}

.result {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10rem;
}
